/** @format */

.single-profile {
  width: 100%;
  height: 80px;
}
.single-pro-center {
  border-bottom: 0.2px solid gray;
  margin-bottom: -7px;
}
.time-container {
  border-bottom: 0.2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -7px;
}
.time-container i {
  margin-top: 10px;
  font-size: large;
  opacity: 0;
  margin-right: -100px;
}
.single-profile:hover {
  background-color: #202c33;
}
.single-profile:hover .time-container i {
  opacity: 1;
  margin-right: 0px;
  transition: 0.3s ease-in-out;
}
